<h1>Top 5 States by Area</h1>


<table class="table">
	<tr>
		<th>Name</th>
		<th>Capital</th>
		<th>Population</th>
		<th>Area</th>
	</tr>
	<% @states.each do |state| %>
		<tr>
			<td>
				<%= state.name %>
			</td>
			<td>
				<%= state.capital %>
			</td>
			<td>
				<%= number_to_human(state.population) %>
			</td>
			<td>
				<%= number_with_delimiter(state.area) %> sq. mi.
			</td>
		</tr>
	<% end %>
</table>